.dashboard-view{
    margin-top: 25px;
    -webkit-text-fill-color:white; 
    background-size: 100%;
    width: 100%;
    background-image: url('../../assets/handsbg.jpg');


#link{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
  }

.header1{
    -webkit-text-fill-color: white;
    border-width: 12rem;
    font-size: 4rem;
    border-color: white;
    width: 100%;
    height: 50px;
    padding-left: 55px;
    padding-top: 10px;
}

#heading1{
    background-color: #4CAF50;
    -webkit-text-fill-color: white;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 10px;
    border-top-right-radius: 2rem; 
    border-top-left-radius: 2rem; 
}

#heading2{
    background-color: #4CAF50;
    -webkit-text-fill-color: white;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem; 
}
.useracc{
padding-left: 4rem;
}

.accounts{
    margin-top: 3rem;
    margin-left: 35px;
    background-color: white;
    width: 80vh;
    height: 30vh;
    float: left;
    border-radius: 2rem;
}

.balance{
    margin-top: 35rem;
    margin-left: -63rem;
    background-color: white;
    width: 80vh;
    height: 30vh;
    float: left;
    border-radius: 2rem;
}

span{
    -webkit-text-fill-color: #4CAF50;
    padding-left: 10px;
}

.transactionspan{
    padding-left: 10rem;
}

#list{
    -webkit-text-fill-color: black;
    font-weight: 500;
    margin-left: -12px;
}
#transactionlist{
    -webkit-text-fill-color: black;
}



.jointAccount-view {
    
    background: rgba(0, 151, 19, 0.2);
    float:right;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-right: 5rem;
    margin-top: 35px;
  
     
  }
    
  .jointAccount{
      form {border: 3px solid #f1f1f1;}
      body {font-family: Arial, Helvetica, sans-serif;}
  
  input[type=number], input[type=password], input[type=text], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 1rem;
    -webkit-text-fill-color:grey;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .jointAccount_container {
    padding: 16px;
    border-radius: 5px;
    width:500px;
    color: #333;
    font-family: sans-serif;
  }
  
  span.login {
    float: center;
    align-items: center;
    padding-top: 16px;
   
  }
  }
  
}