.register-view {
  display: grid;
  align-content: center;
  justify-content: center;
  background: no-repeat;
  background-size: 100%;
  background-image: url('../../assets/bankbg2.jpg');
   
}


.register{
    form {border: 3px solid #f1f1f1;}
    body {font-family: Arial, Helvetica, sans-serif;}

input[type=number], input[type=password], input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.registration_container {
  padding: 16px;
  background-color: aliceblue;
  border-radius: 5px;
  width:500px;
  color: #333;
  font-family: sans-serif;
}

span.login {
  float: center;
  align-items: center;
  padding-top: 16px;
 
}
}
