.home-view {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: no-repeat;
    font-size: 35px;
    background-size: 100%;
    background-color: aliceblue;
     background-image: url('../../assets/welcomebg.jpg'); 
 
}

.container {
    padding: 16px;
    background-color: aliceblue;
    border-radius: 1px;
   
  }
  img{
    margin-left: 500px;
  }
  
