.home-view {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    background: no-repeat;
    background-size: 100%;
     background-image: url('../../assets/bankbg1.jpg');
        
    

    /**
     * Add child element selectors here.
     * For example:
     *
     * .my-child-element {
     *    color: red;
     *  }    
     */
     
}
